
.container { 
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    padding: 30px;
    border-radius: 10px;
}

.task-container { 
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    cursor: pointer;
}

.add-task-container { 
    margin: 15px 0;
    width: 100%;
    display: flex; 
}

.add-task-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444;
    color: #FFF;
    font-size: 16px;
}

.add-button {
    background-color: chartreuse;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.add-task-button-container {
    margin-left: 10px;
    flex: 1;
}

.task-title {
    cursor: pointer;
}

.remove-task-button, .see-task-details-button {
    background-color: #444;
    border: none;
    font-size: 18px;
    color: chartreuse;
}
